node_modules
yarn.lock
.wrangler

/BMAD-METHOD/

.DS_Store
.cache
.env
.dev.vars
.xata/
.xatarc
.vercel
.output
/build/
/dist/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/prisma/generated/
